controller:
  replicaCount: 2
  
  image:
    repository: k8s.gcr.io/ingress-nginx/controller
    tag: "v1.8.0"
  
  service:
    type: LoadBalancer
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: nlb
  
  config:
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"
  
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

defaultBackend:
  enabled: true
