---
- name: Setup Monitoring Stack
  hosts: monitoring
  become: yes
  
  vars:
    prometheus_version: "2.45.0"
    grafana_version: "10.0.0"
    
  tasks:
    - name: Create prometheus user
      user:
        name: prometheus
        system: yes
        shell: /bin/false
    
    - name: Download Prometheus
      get_url:
        url: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
        dest: /tmp/prometheus.tar.gz
    
    - name: Extract Prometheus
      unarchive:
        src: /tmp/prometheus.tar.gz
        dest: /tmp/
        remote_src: yes
    
    - name: Install Prometheus binaries
      copy:
        src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
        dest: /usr/local/bin/
        mode: '0755'
        remote_src: yes
      loop:
        - prometheus
        - promtool
    
    - name: Create Prometheus directories
      file:
        path: "{{ item }}"
        state: directory
        owner: prometheus
        group: prometheus
      loop:
        - /etc/prometheus
        - /var/lib/prometheus
    
    - name: Copy Prometheus configuration
      template:
        src: templates/prometheus.yml.j2
        dest: /etc/prometheus/prometheus.yml
        owner: prometheus
        group: prometheus
      notify: Restart Prometheus
    
    - name: Create Prometheus systemd service
      copy:
        content: |
          [Unit]
          Description=Prometheus
          Wants=network-online.target
          After=network-online.target
          
          [Service]
          User=prometheus
          Group=prometheus
          Type=simple
          ExecStart=/usr/local/bin/prometheus \
            --config.file=/etc/prometheus/prometheus.yml \
            --storage.tsdb.path=/var/lib/prometheus/
          
          [Install]
          WantedBy=multi-user.target
        dest: /etc/systemd/system/prometheus.service
      notify:
        - Reload systemd
        - Restart Prometheus
    
    - name: Install Node Exporter
      apt:
        name: prometheus-node-exporter
        state: present
    
    - name: Add Grafana repository
      apt_key:
        url: https://packages.grafana.com/gpg.key
        state: present
    
    - name: Add Grafana apt repository
      apt_repository:
        repo: "deb https://packages.grafana.com/oss/deb stable main"
        state: present
    
    - name: Install Grafana
      apt:
        name: grafana
        state: present
        update_cache: yes
    
    - name: Start and enable services
      systemd:
        name: "{{ item }}"
        state: started
        enabled: yes
      loop:
        - prometheus
        - grafana-server
  
  handlers:
    - name: Reload systemd
      systemd:
        daemon_reload: yes
    
    - name: Restart Prometheus
      systemd:
        name: prometheus
        state: restarted
