---
- name: Setup PostgreSQL Database
  hosts: databases
  become: yes
  
  vars:
    postgres_version: "14"
    database_name: "myapp_db"
    database_user: "myapp_user"
    
  tasks:
    - name: Install PostgreSQL
      apt:
        name:
          - postgresql-{{ postgres_version }}
          - postgresql-contrib
          - python3-psycopg2
        state: present
        update_cache: yes
    
    - name: Ensure PostgreSQL is running
      service:
        name: postgresql
        state: started
        enabled: yes
    
    - name: Create database
      postgresql_db:
        name: "{{ database_name }}"
        state: present
      become_user: postgres
    
    - name: Create database user
      postgresql_user:
        name: "{{ database_user }}"
        password: "{{ database_password }}"
        state: present
      become_user: postgres
      no_log: true
    
    - name: Grant privileges
      postgresql_privs:
        database: "{{ database_name }}"
        roles: "{{ database_user }}"
        privs: ALL
        type: database
      become_user: postgres
    
    - name: Configure pg_hba.conf
      lineinfile:
        path: /etc/postgresql/{{ postgres_version }}/main/pg_hba.conf
        line: "host    all             all             0.0.0.0/0               md5"
        insertafter: EOF
      notify: Restart PostgreSQL
    
    - name: Configure postgresql.conf
      lineinfile:
        path: /etc/postgresql/{{ postgres_version }}/main/postgresql.conf
        regexp: "^#?listen_addresses"
        line: "listen_addresses = '*'"
      notify: Restart PostgreSQL
  
  handlers:
    - name: Restart PostgreSQL
      service:
        name: postgresql
        state: restarted
