master:
  image:
    repository: jenkins/jenkins
    tag: lts
  
  adminUser: admin
  adminPassword: changeme
  
  service:
    type: LoadBalancer
    port: 8080
  
  persistence:
    enabled: true
    size: 20Gi
  
  installPlugins:
    - kubernetes:latest
    - workflow-aggregator:latest
    - git:latest
    - configuration-as-code:latest

rbac:
  create: true

serviceAccount:
  create: true
