---
- name: Security Hardening
  hosts: all
  become: yes
  
  tasks:
    - name: Update all packages
      apt:
        upgrade: dist
        update_cache: yes
        cache_valid_time: 3600
      when: ansible_os_family == "Debian"
    
    - name: Install security packages
      apt:
        name:
          - ufw
          - fail2ban
          - unattended-upgrades
          - aide
        state: present
    
    - name: Configure SSH
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      loop:
        - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
        - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
        - { regexp: '^#?PubkeyAuthentication', line: 'PubkeyAuthentication yes' }
        - { regexp: '^#?Port', line: 'Port 22' }
      notify: Restart SSH
    
    - name: Setup UFW firewall
      ufw:
        state: enabled
        policy: deny
    
    - name: Allow SSH through firewall
      ufw:
        rule: allow
        port: '22'
        proto: tcp
    
    - name: Configure fail2ban
      copy:
        content: |
          [DEFAULT]
          bantime = 3600
          findtime = 600
          maxretry = 5
          
          [sshd]
          enabled = true
          port = 22
          logpath = /var/log/auth.log
        dest: /etc/fail2ban/jail.local
        mode: '0644'
      notify: Restart fail2ban
    
    - name: Start and enable fail2ban
      service:
        name: fail2ban
        state: started
        enabled: yes
    
    - name: Configure automatic security updates
      copy:
        content: |
          APT::Periodic::Update-Package-Lists "1";
          APT::Periodic::Unattended-Upgrade "1";
          APT::Periodic::AutocleanInterval "7";
        dest: /etc/apt/apt.conf.d/20auto-upgrades
        mode: '0644'
    
    - name: Set secure file permissions
      file:
        path: "{{ item }}"
        mode: '0600'
      loop:
        - /etc/ssh/sshd_config
        - /etc/shadow
  
  handlers:
    - name: Restart SSH
      service:
        name: sshd
        state: restarted
    
    - name: Restart fail2ban
      service:
        name: fail2ban
        state: restarted
