---
- name: Configure All Servers
  hosts: all
  become: yes
  
  roles:
    - common

- name: Configure Web Servers
  hosts: webservers
  become: yes
  
  roles:
    - webserver
    - application

- name: Configure Database Servers
  hosts: databases
  become: yes
  
  roles:
    - database

- name: Post-Configuration Tasks
  hosts: all
  become: yes
  
  tasks:
    - name: Verify all services are running
      service:
        name: "{{ item }}"
        state: started
      loop:
        - sshd
      ignore_errors: yes
    
    - name: Display completion message
      debug:
        msg: "Configuration completed successfully for {{ inventory_hostname }}"
